*~
*.nm
*.elf
*.hex
*.map
*.o
*.objdump
*.readelf
*.gtkw
*.vcd
dsim.env
dsim.log
dsim_results
metrics.db
metrics_history.db
*.swp
/.cproject
/.project
.dvt/
dvt_build.log
xrun.history
xrun.log
xcelium.d/

