[submodule "uvm-scaffold"]
	path = uvm-scaffold
	url = ../uvm-scaffold.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = ../riscv-tests.git
[submodule "riscv-torture"]
	path = riscv-torture
	url = ../riscv-torture.git
[submodule "tb"]
	path = tb
	url = ../uvm-components.git
