site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.local
build/
*.vcd
*.fsdb
*.log
*.out
*.jou
*.o
uart
work-ver/*
corev_apu/fpga/work-fpga
corev_apu/fpga/reports/
corev_apu/fpga/scripts/add_sources.tcl
corev_apu/fpga/ariane.xpr
corev_apu/fpga/ariane.cache/
corev_apu/fpga/ariane.hw/
corev_apu/fpga/.Xil/
corev_apu/fpga/mode*
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
install/
xrun_results/
/core/include/hwconfig_config_pkg.sv
__pycache__
.bender/
Bender.lock
/tools/
/util/toolchain-builder/src/
/util/toolchain-builder/build/
# Both following lines are needed to list contents of ISA manual build dir.
!/vendor/riscv/riscv-isa-manual/build/
!/vendor/riscv/riscv-isa-manual/build/*
