site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.local
build/
*.vcd
*.log
*.out
*.jou
*.o
uart
work-ver/*
corev_apu/fpga/work-fpga
corev_apu/fpga/reports/
corev_apu/fpga/scripts/add_sources.tcl
corev_apu/fpga/ariane.xpr
corev_apu/fpga/ariane.cache/
corev_apu/fpga/ariane.hw/
corev_apu/fpga/.Xil/
corev_apu/fpga/mode*
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
install/
xrun_results/
/core/include/gen32_config_pkg.sv
/core/include/gen64_config_pkg.sv
__pycache__
.bender/
