# Global Owners
*  @JeanRochCoulon

# Core

core/mmu_sv39 @sjthales
core/cvxif_example @Gchauvon
core/cvxif_fu.sv @Gchauvon

# HPDCache

core/cache_subsystem/hpdcache @cfuguet
core/cache_subsystem/cva6_hpdcache* @cfuguet
core/include/cv64a6_imafdc_sv39_hpdcache_config_pkg.sv @cfuguet
core/include/cv64a6_imafdc_sv39_hpdcache_wb_config_pkg.sv @cfuguet

# OpenPiton

corev_apu/openpiton @Jbalkind
core/cache_subsystem/wt_l15_adapter.sv @Jbalkind
core/include/cv64a6_imafdc_sv39_openpiton_config_pkg.sv @Jbalkind

## Documentation

docs/ @jquevremont
