NET "ddr3_dq[0]"                             LOC = "AD3"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[1]"                             LOC = "AC2"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[2]"                             LOC = "AC1"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[3]"                             LOC = "AC5"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[4]"                             LOC = "AC4"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[5]"                             LOC = "AD6"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[6]"                             LOC = "AE6"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[7]"                             LOC = "AC7"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[8]"                             LOC = "AF2"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[9]"                             LOC = "AE1"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[10]"                            LOC = "AF1"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[11]"                            LOC = "AE4"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[12]"                            LOC = "AE3"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[13]"                            LOC = "AE5"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[14]"                            LOC = "AF5"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[15]"                            LOC = "AF6"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[16]"                            LOC = "AJ4"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[17]"                            LOC = "AH6"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[18]"                            LOC = "AH5"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[19]"                            LOC = "AH2"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[20]"                            LOC = "AJ2"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[21]"                            LOC = "AJ1"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[22]"                            LOC = "AK1"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[23]"                            LOC = "AJ3"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[24]"                            LOC = "AF7"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[25]"                            LOC = "AG7"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[26]"                            LOC = "AJ6"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[27]"                            LOC = "AK6"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[28]"                            LOC = "AJ8"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[29]"                            LOC = "AK8"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[30]"                            LOC = "AK5"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dq[31]"                            LOC = "AK4"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;
NET "ddr3_dm[0]"                             LOC = "AD4"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_dm[1]"                             LOC = "AF3"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_dm[2]"                             LOC = "AH4"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_dm[3]"                             LOC = "AF8"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_dqs_p[0]"                          LOC = "AD2"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;
NET "ddr3_dqs_n[0]"                          LOC = "AD1"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;
NET "ddr3_dqs_p[1]"                          LOC = "AG4"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;
NET "ddr3_dqs_n[1]"                          LOC = "AG3"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;
NET "ddr3_dqs_p[2]"                          LOC = "AG2"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;
NET "ddr3_dqs_n[2]"                          LOC = "AH1"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;
NET "ddr3_dqs_p[3]"                          LOC = "AH7"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;
NET "ddr3_dqs_n[3]"                          LOC = "AJ7"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[14]"                          LOC = "AH9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[13]"                          LOC = "AA12"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[12]"                          LOC = "AB12"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[11]"                          LOC = "AA8"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[10]"                          LOC = "AB8"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[9]"                           LOC = "Y11"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[8]"                           LOC = "Y10"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[7]"                           LOC = "AA11"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[6]"                           LOC = "AA10"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[5]"                           LOC = "AA13"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[4]"                           LOC = "AD9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[3]"                           LOC = "AC10"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[2]"                           LOC = "AD8"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[1]"                           LOC = "AE8"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_addr[0]"                           LOC = "AC12"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_ba[2]"                             LOC = "AC11"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_ba[1]"                             LOC = "AB10"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_ba[0]"                             LOC = "AE9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_ck_p[0]"                           LOC = "AB9"     |   IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = HIGH         ;
NET "ddr3_ck_n[0]"                           LOC = "AC9"     |   IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = HIGH         ;
NET "ddr3_ras_n"                             LOC = "AE11"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_cas_n"                             LOC = "AF11"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_we_n"                              LOC = "AG13"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_reset_n"                           LOC = "AG5"     |   IOSTANDARD = LVCMOS15             |     VCCAUX_IO = HIGH         ;
NET "ddr3_cke[0]"                            LOC = "AJ9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_odt[0]"                            LOC = "AK9"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
NET "ddr3_cs_n[0]"                           LOC = "AH12"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;
