Magic 271485
Revision Verdi_Q-2020.03-SP2-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 2282 512 259 235

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/jrcoulon/Projects/tss/core-v-verif/cva6/sim/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 788.755131
cursor 170.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 224
; marker line index
markerPos 248

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/jrcoulon/Projects/tss/core-v-verif/cva6/sim/inter.fsdb"
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/clk_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/rst_ni
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/boot_addr_i[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/hart_id_i[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/irq_i[1:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ipi_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/time_irq_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/debug_req_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/rvfi_o[0:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/cvxif_req_o
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/cvxif_resp_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/axi_req_o
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/axi_resp_i
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/AxiAddrWidth[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/AxiDataWidth[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/AxiIdWidth[31:0]
addSignal -h 15 -UNSIGNED /ariane_tb/dut/i_ariane/i_cva6/priv_lvl[1:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_commit
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/resolved_branch
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/pc_commit[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/eret
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/commit_ack[0:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/trap_vector_base_commit_pcgen[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/epc_commit_pcgen[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/fetch_entry_if_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/fetch_valid_if_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/fetch_ready_id_if
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/issue_entry_id_issue
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/issue_entry_valid_id_issue
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/is_ctrl_fow_id_issue
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/issue_instr_issue_id
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/rs1_forwarding_id_ex[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/rs2_forwarding_id_ex[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/fu_data_id_ex
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/pc_id_ex[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/is_compressed_instr_id_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flu_ready_ex_id
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/flu_trans_id_ex_id[1:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flu_valid_ex_id
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/flu_result_ex_id[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flu_exception_ex_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/alu_valid_id_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/branch_valid_id_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/branch_predict_id_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/resolve_branch_ex_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/lsu_valid_id_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/lsu_ready_ex_id
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/load_trans_id_ex_id[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/load_result_ex_id[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/load_valid_ex_id
addSignal -h 15 -UNSIGNED -HEX /ariane_pkg/NR_SB_ENTRIES[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/load_exception_ex_id
addSignal -h 15 -UNSIGNED -HEX /ariane_pkg/TRANS_ID_BITS[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/store_result_ex_id[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_pkg/ASID_WIDTH[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/store_trans_id_ex_id[1:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/store_valid_ex_id
addSignal -h 15 -UNSIGNED -HEX /ariane_pkg/NR_COMMIT_PORTS[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/store_exception_ex_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/mult_valid_id_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/fpu_ready_ex_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/fpu_valid_id_ex
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/fpu_fmt_id_ex[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/fpu_rm_id_ex[2:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/fpu_trans_id_ex_id[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/fpu_result_ex_id[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/fpu_valid_ex_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/fpu_exception_ex_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/csr_valid_id_ex
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/x_trans_id_ex_id[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/x_result_ex_id[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/x_valid_ex_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/x_exception_ex_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/x_we_ex_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/x_issue_valid_id_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/x_issue_ready_ex_id
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/x_off_instr_id_ex[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/csr_commit_commit_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/dirty_fp_state
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/lsu_commit_commit_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/lsu_commit_ready_ex_commit
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/lsu_commit_trans_id[1:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/no_st_pending_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/no_st_pending_commit
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/amo_valid_commit
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/commit_instr_id_commit[0:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/waddr_commit_id[0:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/wdata_commit_id[0:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/we_gpr_commit_id[0:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/we_fpr_commit_id[0:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/fflags_csr_commit[4:0]
addSignal -h 15 -UNSIGNED /ariane_tb/dut/i_ariane/i_cva6/fs[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/frm_csr_id_issue_ex[2:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/fprec_csr_ex[6:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/enable_translation_csr_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/en_ld_st_translation_csr_ex
addSignal -h 15 -UNSIGNED /ariane_tb/dut/i_ariane/i_cva6/ld_st_priv_lvl_csr_ex[1:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/sum_csr_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/mxr_csr_ex
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/satp_ppn_csr_ex[21:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/asid_csr_ex[0:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/csr_addr_ex_csr[11:0]
addSignal -h 15 -UNSIGNED /ariane_tb/dut/i_ariane/i_cva6/csr_op_commit_csr[7:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/csr_wdata_commit_csr[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/csr_rdata_csr_commit[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/csr_exception_csr_commit
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/tvm_csr_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/tw_csr_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/tsr_csr_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/irq_ctrl_csr_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/dcache_en_csr_nbdcache
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/csr_write_fflags_commit_cs
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/icache_en_csr
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/debug_mode
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/single_step_csr_commit
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/pmpcfg[15:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/pmpaddr[15:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/addr_csr_perf[4:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/data_csr_perf[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/data_perf_csr[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/we_csr_perf
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/icache_flush_ctrl_cache
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/itlb_miss_ex_perf
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/dtlb_miss_ex_perf
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/dcache_miss_cache_perf
addSignal -h 15 /ariane_pkg/CVXIF_PRESENT
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/icache_miss_cache_perf
addSignal -h 15 -UNSIGNED -HEX /ariane_pkg/NR_WB_PORTS[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/set_pc_ctrl_pcgen
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flush_csr_ctrl
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flush_unissued_instr_ctrl_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flush_ctrl_if
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flush_ctrl_id
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flush_ctrl_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flush_ctrl_bp
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flush_tlb_ctrl_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/fence_i_commit_controller
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/fence_commit_controller
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/sfence_vma_commit_controller
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/halt_ctrl
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/halt_csr_ctrl
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/dcache_flush_ctrl_cache
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/dcache_flush_ack_cache_ctrl
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/set_debug_pc
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/flush_commit
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/icache_areq_ex_cache
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/icache_areq_cache_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/icache_dreq_if_cache
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/icache_dreq_cache_if
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/amo_req
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/amo_resp
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/sb_full
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/dcache_req_ports_ex_cache[2:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/dcache_req_ports_cache_ex[2:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/dcache_commit_wbuffer_empty
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/dcache_commit_wbuffer_not_ni
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/lsu_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/lsu_rmask[3:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/lsu_wmask[3:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/lsu_addr_trans_id[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/trans_id_ex_id[4:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/wbdata_ex_id[4:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_ex_ex_id[4:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/wt_valid_ex_id[4:0]
addGroup "G2"
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/clk_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/rst_ni
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/flush_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/no_st_pending_o
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/amo_valid_commit_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/fu_data_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/lsu_ready_o
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/lsu_valid_i
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/load_trans_id_o[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/load_result_o[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/load_valid_o
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/load_exception_o
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/store_trans_id_o[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/store_result_o[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/store_valid_o
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/store_exception_o
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/commit_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/commit_ready_o
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/commit_tran_id_i[1:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/enable_translation_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/en_ld_st_translation_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/icache_areq_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/icache_areq_o
addSignal -h 15 -UNSIGNED /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/priv_lvl_i[1:0]
addSignal -h 15 -UNSIGNED /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/ld_st_priv_lvl_i[1:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/sum_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/mxr_i
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/satp_ppn_i[21:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/asid_i[0:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/asid_to_be_flushed_i[0:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/vaddr_to_be_flushed_i[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/flush_tlb_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/itlb_miss_o
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/dtlb_miss_o
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/dcache_req_ports_i[2:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/dcache_req_ports_o[2:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/dcache_wbuffer_empty_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/dcache_wbuffer_not_ni_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/amo_req_o
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/amo_resp_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/pmpcfg_i[15:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/pmpaddr_i[15:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/lsu_addr_o[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/lsu_rmask_o[3:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/lsu_wmask_o[3:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/lsu_addr_trans_id_o[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/ASID_WIDTH[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/data_misaligned
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/lsu_ctrl
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/pop_st
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/pop_ld
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/vaddr_i[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/vaddr_xlen[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/overflow
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/be_i[3:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/st_valid_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/ld_valid_i
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/ld_translation_req
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/st_translation_req
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/ld_vaddr[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/st_vaddr[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/translation_req
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/translation_valid
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/mmu_vaddr[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/mmu_paddr[33:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/mmu_exception
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/dtlb_hit
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/dtlb_ppn[21:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/ld_valid
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/ld_trans_id[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/ld_result[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/st_valid
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/st_trans_id[1:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/st_result[31:0]
addSignal -h 15 -UNSIGNED -HEX /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/page_offset[11:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/page_offset_matches
addSignal -h 15 -UNSIGNED -HEX /ariane_pkg/TRANS_ID_BITS[31:0]
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/misaligned_exception
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/ld_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/st_ex
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/store_buffer_empty
addSignal -h 15 /ariane_tb/dut/i_ariane/i_cva6/ex_stage_i/lsu_i/lsu_req_i
addSignal -h 15 /ariane_pkg/MMU_PRESENT
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

